<a href="https://colab.research.google.com/github/denis-herrera98/cargill_exercises/blob/main/CargillExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from tabulate import tabulate

clients = pd.read_excel('/content/CarSalesDataForReports.xlsx', 'Clients')
colors = pd.read_excel('/content/CarSalesDataForReports.xlsx', 'Colors')
countries = pd.read_excel('/content/CarSalesDataForReports.xlsx', 'Countries')
stock = pd.read_excel('/content/CarSalesDataForReports.xlsx', 'Stock')
invoices = pd.read_excel('/content/CarSalesDataForReports.xlsx', 'Invoices')
invoicesLines = pd.read_excel('/content/CarSalesDataForReports.xlsx', 'InvoiceLines')

1.**Define the required classes, methods and properties based on CarSalesDataforReports Excel file.**

In [2]:
class Client:
  def __init__(self, name, client_id, client_address1, client_address2, county, town, region, outer_postcode, country_id, client_type, client_size, client_since, client_is_worthy, is_dealer): 
    self.name = name
    self.client_id = client_id
    self.client_address1 = client_address1
    self.client_address2 = client_address2
    self.county = county
    self.town = town
    self.region = region
    self.outer_postcode = outer_postcode
    self.country_id = country_id
    self.client_type = client_type
    self.client_size = client_size
    self.client_since = client_since
    self.client_is_worthy = client_is_worthy
    self.is_dealer = is_dealer 

class Color:
  def __init__(self, color_id, color): 
    self.color_id = color_id
    self.color = color

    
class Country:
  def __init__(self, country_id, country_iso_code): 
    self.country_id = country_id
    self.country_iso_code = country_iso_code

class Invoices:
  def __init__(self, invoice_id, invoice_number, client_id, invoice_date,total_discount, delivery_charge, invoice_date_key, invoices_lines): 
    self.invoice_id = invoice_id
    self.invoice_number = invoice_number
    self.client_id = client_id
    self.invoice_date = invoice_date
    self.total_discount = total_discount
    self.delivery_charge = delivery_charge
    self.invoice_date_key = invoice_date_key
    self.invoices_lines = invoices_lines

class InvoicesLines:
  def __init__(self, invoice_id, invoice_line_id, stock_id, sale_price, line_item): 
    self.invoice_id = invoice_id
    self.invoice_line_id = invoice_line_id
    self.stock_id = stock_id
    self.sale_price = sale_price
    self.line_item = line_item

2. **Based on the point number one, define a class to include another kind of transportation vehicle. Include
properties and methods that you consider required.**

In [5]:
# This will be our parent class, all the vehicles that we want to add to our system will inherit from this Vehicle class. 
# There is goning to be a function for testing the things out.

class Vehicle:
  def __init__(self, make, model, color_id, vehicle_type, cost_price, spare_parts, labor_cost, registration_date, mileage, purchase_date, vehicle_age_in_years ):
    self.make = make
    self.model = model
    self.color_id = color_id
    self.vehicle_type = vehicle_type
    self.cost_price = cost_price
    self.spare_parts = spare_parts
    self.labor_cost = labor_cost
    self.registration_date = registration_date
    self.mileage = mileage
    self.purchase_date = purchase_date
    self.vehicle_age_in_years = vehicle_age_in_years

  def describe(self):
    print(f"Vehicle {self.model}, {self.vehicle_age_in_years} years old, with approximately {self.vehicle_age_in_years} km")


class Car(Vehicle):
  pass

class Truck(Vehicle):
  pass

car = Car("Rolls Royce", "Camargue", "6", "Saloon", "$1000000", "$500000", "$250000", "2013-05-23", "5000km", "2013-06-25", "3" )
truck = Truck("Volvo", "Volvo AB10", "2", "hight_weight", "$3000000", "$1500000", "$1000000", "2019-02-25", "2500km", "2015-03-05", "10")

truck.describe()
car.describe()

Vehicle Volvo AB10, 10 years old, with approximately 10 km
Vehicle Camargue, 3 years old, with approximately 3 km

3. **Create a query that returns the top 3 car brands most sold (i.e., having the most car brand sales) during first
and third quarter of year 2015.**

In [ ]:
start_date = '2015-01-01'
end_date = '2015-03-31'

df = pd.merge(invoicesLines,stock,on=['StockID'])
df = pd.merge(df,invoices,on=["InvoiceID"])

firstQuarter = (df['InvoiceDate'] >= start_date) & (df['InvoiceDate'] <= end_date)
newDf = df.loc[firstQuarter]
answerA = newDf['Make'].value_counts()[:3].rename_axis('Brand').reset_index(name='quantity')

print('*** FIRST QUARTER 2015 *** \n')
print(answerA)
print('\n')


start_date = '2015-07-01'
end_date = '2015-09-30'

thirdQuarter = (df['InvoiceDate'] >= start_date) & (df['InvoiceDate'] <= end_date)
newDf = df.loc[thirdQuarter]

answerB = newDf['Make'].value_counts()[:3].rename_axis('Brand').reset_index(name='quantity')
print('*** THIRD QUARTER 2015 *** \n')
print(answerB)

*** FIRST QUARTER 2015 ***

          Brand  quantity
0        Jaguar        16
1  Aston Martin        14
2   Rolls Royce         8


*** THIRD QUARTER 2015 ***

          Brand  quantity
0        Jaguar        14
1  Aston Martin        10
2   Rolls Royce         8


3. **Create a query that shows the top 3 most sold car colors (i.e., having the most car color sales) for each
quarter for the years 2012,2013,2014,2015.**

In [ ]:

def printFunction(objectToPrint, year, dateName):
  print('*** {dateName} QUARTER {year} *** \n'.format(year=year,dateName=dateName))
  print(objectToPrint)
  print('\n')

def findQuartersMostSoldCarsByColor(years):
  df = pd.merge(invoicesLines,stock,on=['StockID'])
  df = pd.merge(df,invoices,on=["InvoiceID"])
  df = pd.merge(df,colors,on=["ColorID"])


  for year in years:
    
    first = (df['InvoiceDate'] >=  year + '-01-01') & (df['InvoiceDate'] < year + '-04-01')
    newDf = df.loc[first]
    answerFirst = newDf['Color'].value_counts()[:3].rename_axis('Brand').reset_index(name='quantity')
    printFunction(answerFirst, year, "FIRST")

    second = (df['InvoiceDate'] >= year + '-04-01') & (df['InvoiceDate'] < year + '-07-01')
    newDf = df.loc[second]
    answerSecond = newDf['Color'].value_counts()[:3].rename_axis('Brand').reset_index(name='quantity')
    printFunction(answerSecond, year, "SECOND")
   
    third = (df['InvoiceDate'] >= year + '-07-01') & (df['InvoiceDate'] < year + '-09-01')
    newDf = df.loc[third]
    answerThird = newDf['Color'].value_counts()[:3].rename_axis('Brand').reset_index(name='quantity')
    printFunction(answerThird, year, "THIRD")
    
    four = (df['InvoiceDate'] >= year + '-09-01') & (df['InvoiceDate'] <= year + '-12-31')
    newDf = df.loc[four]
    answerFour = newDf['Color'].value_counts()[:3].rename_axis('Brand').reset_index(name='quantity')
    printFunction(answerFour, year, "FOURTH")
   
findQuartersMostSoldCarsByColor(["2012","2013","2015","2015"])

*** FIRST QUARTER 2012 ***

         Brand  quantity
0         Blue         4
1        Black         1
2  Dark Purple         1


*** SECOND QUARTER 2012 ***

           Brand  quantity
0  Canary Yellow         4
1    Dark Purple         2
2            Red         1


*** THIRD QUARTER 2012 ***

   Brand  quantity
0   Blue         2
1  Black         1
2    Red         1


*** FOURTH QUARTER 2012 ***

           Brand  quantity
0  Canary Yellow         4
1     Night Blue         3
2          Black         2


*** FIRST QUARTER 2013 ***

         Brand  quantity
0        Green         6
1  Dark Purple         4
2          Red         4


*** SECOND QUARTER 2013 ***

           Brand  quantity
0            Red        11
1  Canary Yellow         7
2     Night Blue         4


*** THIRD QUARTER 2013 ***

    Brand  quantity
0    Blue         4
1   Black         3
2  Silver         3


*** FOURTH QUARTER 2013 ***

    Brand  quantity
0     Red         8
1    Blue         7
2  Silver         6


*** FIRST QUARTER 2015 ***

                  Brand  quantity
0  British Racing Green        10
1           Dark Purple         8
2                Silver         8


*** SECOND QUARTER 2015 ***

           Brand  quantity
0            Red        22
1          Black         8
2  Canary Yellow         8


*** THIRD QUARTER 2015 ***

           Brand  quantity
0  Canary Yellow         8
1    Dark Purple         6
2            Red         6


*** FOURTH QUARTER 2015 ***

    Brand  quantity
0  Silver        14
1     Red        14
2    Blue        12


*** FIRST QUARTER 2015 ***

                  Brand  quantity
0  British Racing Green        10
1           Dark Purple         8
2                Silver         8


*** SECOND QUARTER 2015 ***

           Brand  quantity
0            Red        22
1          Black         8
2  Canary Yellow         8


*** THIRD QUARTER 2015 ***

           Brand  quantity
0  Canary Yellow         8
1    Dark Purple         6
2            Red         6


*** FOURTH QUARTER 2015 ***

    Brand  quantity
0  Silver        14
1     Red        14
2    Blue        12